<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('includes/navBar')%>
    
    <div class="header-cadastro">
        <h1 >Criar Conta</h1>
    </div>
    
    <div class="cadastro">
        <div class="login-container">
            <h1>Cadastro</h1>

            <form action="/cadastro/register" method="post" class="cadastro-form">
                <div class="user">
                    <label for="userName">Usuário</label>
                    <input type="text" name="userName" class="userName">
                    <span class="error">
                        <%if(errors){%>
                            <%=errors%>
                        <%}%></span>
                </div>
                <div class="password">
                    <label for="password">Senha</label>
                    <input type="password" name="password" class="pass">
                    <span class="error"></span>
                </div>
                <div class="password">
                    <label for="passwordRepeat">repetir senha</label>
                    <input type="password"  id="passwordRepeat">
                    <span class="error"></span>
                </div>
                <button>Cadastrar</button>
            </form>
        </div>
    </div>

    <%- include('includes/shapeDivider')%>
    <%-include('includes/footer')%>
</body>
</html>